body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px blue;
    padding: 20px;
    font-size: 22px;
    color: blue;
}

section {
    background: rgb(66,185,239);
}